/* App.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.planet {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
}

.planetX {
  width: 100%;
}

.orange.planet {
  background-color: orange;
  box-shadow: inset yellow -20px -20px 70px;
}

.ring {
  width: 150%;
  height: 150%;
  border-radius: 200%;
  position: absolute;
  left: -25%; 
  transform: rotate3d(1, 0, 0, 85deg);
  opacity: 0.3;

}


.ring:hover{
  transform: scale(1.3);
  /* background: #ff800a; */
  z-index: 2;
  /* box-shadow: 3px 2px 5px #000; */
  transform: rotate3d(1, 0, 0, 85deg);
  opacity: 1;


}

.ring1 {
  top: calc(-62px + 50px);
}

.ring2 {
  top: calc(-62px + 100px);
}
.ring3 {
  top: calc(-62px + 150px);
}

.ring4 {
  top: calc(-62px + 200px);
}


body {
  /* Set the background image */
  background-image: url("./assets/Hintergrund.svg");

  /* Define the size of the background image */
  /* Here, '38.2vw' means 38.2% of the viewport's width, and '100vh' means 100% of the viewport's height */
  background-size:  100vh;

  /* Define the position of the background image */
  /* 'right top' positions the image at the top right corner of the viewport */
  background-position: right top;

  /* Define the repeat behavior of the background image */
  /* 'no-repeat' ensures that the image does not tile */
  background-repeat: no-repeat;
}
