/* App.css */

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 59.8%; /* Since the right background takes 40.2%, the left should take the remaining space */
  height: 100%;
  display: flex; /* Flexbox will help us center the image */
  align-items: center; /* Centers the image vertically */
  justify-content: center; /* Centers the image horizontally */
}


#background-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 40.2%;
  height: 100%;
  background: url("./assets/Hintergrund2.svg");
  background-blend-mode: screen;
  background-size: cover;
}



#scanner-image {
  max-width: 60%; /* Adjust as needed */
  max-height: 60%; /* Adjust as needed */
  cursor: pointer;
  /* will-change: filter; */
  /* transition: filter 300ms; */
}

/* #scanner-image:hover {
filter: drop-shadow(0 0 3em #BC31C9);

} */


.my_outer_circle{
  width: 480px;
  height: 480px;
  border: red solid 2px;

}
.noselect {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 768px) { 

  body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  /* #background-right {
    top: 0;
    right: auto; 
    bottom: 50%;
    left: 0; 
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .background-left {
    top: 50%;
    left: 0; 
    right: auto; 
    bottom: 0;
    width: 100%; 
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}
